<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket League Card - <%= nameCar %>
    </title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/changehandler.js" defer></script>
</head>

<body>
    <%- include('sidebar') %>
        <section class="mainContent">
            <section class="cardsContainer">
                <section class="actualCards">
                    <a href="/car/<%= nameCar %>">
                        <h1 id="nameHeader"><%= nameCar %></h1>
                        <img src="<%= image %>">
                    </a>
                    <p>
                        <%= type %> - <a href="/class/<%= carClass %>">
                                <%= carClass %>
                            </a>
                    </p>
                    <p>
                        <a href="/playstyle/<%= playstyle1 %>">
                            <%= playstyle1 %>
                        </a> -
                        <a href="/playstyle/<%= playstyle2 %>">
                            <%= playstyle2 %>
                        </a>
                    </p>
                </section>
                <br>
                <section class="actualCards">
                    <h2>Change Vehicle Information</h2>
                    <form id="changeForm">
                        <label for="newName">New Name:</label>
                        <input type="text" id="newName" value="<%= nameCar %>" name="newName"><br>

                        <label for="newType">New Type:</label>
                        <input type="text" id="newType" value="<%= type %>" name="newType"><br>

                        <label for="newClass">New Class:</label>
                        <input type="text" id="newClass" value="<%= carClass %>" name="newClass"><br>

                        <label for="newImage">New Image URL:</label>
                        <input type="text" id="newImage" value="<%= image %>" name="newImage"><br>

                        <button type="submit">Submit</button>
                    </form>
                </section>
            </section>
        </section>
</body>

</html>